* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Header no topo para navegação */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fdf6e3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1;
}

/* Fundo com cor suave */
body {
  background-color: #fdf6e3;
  padding: 15px;
}

/* h1 cor diferente e centralizado */
header {
  text-align: center;
  color: #654c8d;
}

main {
  width: 90%;
  margin-top: 120px;
}

.menu {
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-top: 0.5rem;
  padding-left: 0;
}

.menu a {
  text-decoration: none;
  color: #5a3e85;
  font-weight: bold;
  transition: color 0.3s;
}

section {
  scroll-margin-top: 120px;
  margin-bottom: 15px;
}

h2,
h3 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
}

/* Parágrafo com tamanho diferente e justificado */
p {
  font-size: 20px;
  text-align: justify;
}

.welcomeButton {
  padding: 1rem 1.5rem;
  margin-top: 10px;
  border-radius: 8px;
  border: 0;
  background-color: #5ac5a5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.message {
  display: none;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-top: 10px;
  color: #739188;
}

.message.show {
  display: block;
  opacity: 1;
}

.hobbies {
  display: flex;
  align-items: center;
  gap: 16px;
}

ul {
  list-style-position: inside;
}

/* Espaçamento entre os itens da ul */
li {
  margin-bottom: 10px;
}

/* Imagem com bordas arredondadas e tamanho adequado */
.hobbieImg {
  border-radius: 10px;
  width: 300px;
  height: 250px;
  object-fit: fill;
}

#prev,
#next {
  padding: 0.5rem;
  border-radius: 8px;
  border: 0;
  background-color: #5ac5a5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

button:hover,
#prev:hover,
#next:hover {
  background-color: #548f7d;
}

/* Estlizando a tabela */

table {
  width: 500px;
  border-collapse: collapse;
}

colgroup col:first-child {
  width: 20%;
}

colgroup col:last-child {
  width: 80%;
}

th,
td {
  text-align: center;
  border: 1px solid #ccc;
}

td:not(:has(img)),
th {
  padding: 10px;
}

table img {
  padding: 10px;
  width: 100%;
  display: block;
  filter: brightness(0.9);
  transition: all 200ms;
}

table img:hover {
  transform: scale(1.05);
  opacity: 1;
  filter: brightness(1);
}

/* Mudar a cor do link */

a:hover {
  color: green;
}

footer p {
  text-align: center;
  font-size: 14px;
}
